*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #24252A;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    color: red;
}

h1{
    font-weight: 600;
}

.contenedor{
    font-family: 'Montserrat', sans-serif;
    color: white;
    position: relative;
    width: 700px;
    height: 790px;
    margin-left: auto;
    margin-right: auto;
}

.barra ul{
    font-family: 'Montserrat', sans-serif;
    color: white;
    position: fixed;
    width: 8%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top:auto;
}

li, a{
    text-decoration: none;
    color: red;
}

img fon{
    align-items: center;
    position: relative;
}

footer{
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
    text-align: center;
    font-size: 15px;
    box-sizing: border-box;
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    color: red;
}
